* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}
h3, h4, h5, h6, p, ul,li {
    /* color: #0e3669*/
    color:#3b4358;
 }
.datos{
    color:#dfe0e0;
}
.home{
    display: flex;
    flex-wrap: wrap;
    width: 996px;
}

.in-flex{
    flex:2;
    min-width: 300px;
}
.in-flex:first-child{
    flex:1; 
    background-color: #0B5345;
    margin-bottom: 0px;
}
.in-flex div{
    background-color:white;
}

.red.in {
    background-image: url('img/inh.png');
    background-position: 0px 0px;
    background-size: cover;
}
.red.in:hover {
    background-image: url('img/in.png');
}
.git {
    background-image: url('img/gith.png');
    background-position: 0px 0px;
    background-size: cover;
}
.git:hover {
    background-image: url('img/git.png');
}

.red 
{
    width: 40px;
    height: 40px;
    margin-right: 4px;
    margin-left: 4px;
    float: left;
    display: inline-block;
}

img { 
    max-width: 100%;
    height: auto;
}
